#html { /* or *#html or div#html */
  /* text */
  color: #317eac;
  font-family: monospace;
  font-size: 24px;
  
  /* element box */
  padding: 5px 10px 10px 5px; /* top right bottom left */
  border: 1px solid rgba(0, 0, 0, 0.9); /* width style color */
  margin: 20px 20px 20px 20px; /* top right bottom left */
  background-color: #eeeeee; /* default is transparent */
}
