.twocol {
   height: fit-content;
   -webkit-column-count: 2; /* Chrome, Safari, Opera */
   -moz-column-count: 2;    /* Firefox */
   column-count: 2;
   -moz-column-fill: auto;
   -column-fill: auto;
}