/* code table formatting */


table.code-table tbody {
  border-style: solid;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

table.code-table pre {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
}

table.code-table tr.highlight {
  background-color: rgba(95, 151, 68, 0.3)
}

table.code-table td {
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
}

table.code-table td.number {
  padding-right: 20px;
  text-align: right;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}



/* syntax highlight formatting */

pre {
  line-height: 160%;
}

pre .comment,
pre .hljs-comment{
  color: #8e908c
}

pre .string,
pre .hljs-string{
  color: #718c00;
}

pre .literal,
pre .hljs-literal,
pre .number,
pre .hljs-number {
  color: #de935f;
}

pre .hljs-operator,
pre .operator{
  color: #3e999f
}

pre .keyword,
pre .hljs-keyword{
  color: #4271ae;
}
