#page-title {
  text-align: center;
  padding-bottom: 20px;
}

#footer a {
  text-decoration: none; 
  padding-left: 5px;
}

#footer {
  text-align: center;
  padding-bottom: 10px;
  margin-top: 70px;
}

#raa-logo img {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 2.75em;
  padding-right: .75em;
  height: 7em;
}

#upload_package-rem_pkg_btn {
  height: calc(1.5em + 1.5rem + 2px); 
  margin-top: 32px; 
  background-color:#3399ff; 
  border-color:#3399ff;
}

#upload_package-rem_pkg_btn:active,
#upload_package-rem_pkg_btn:focus {
box-shadow: 0 0 0 0.25rem rgb(51, 153, 255, 50%);
}
