#page-title {
  text-align: center;
  padding-bottom: 20px;
}

.container-fluid > .tabbable {
  padding-bottom: 75px;
}

#footer a {
  text-decoration: none; 
  padding-left: 5px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: .75em;
  right: .75em;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 70px;
  background: #f7f7f7;
  z-index: 1;
}

#raa-logo img {
  position: absolute;
  top: 2.75em;
  right: .75em;
  height: 6.25em;
  z-index: 1;
}

#upload_package-rem_pkg_btn {
  height: calc(1.5em + 1.5rem + 2px); 
  margin-top: 32px; 
  background-color:#3399ff; 
  border-color:#3399ff;
}

#upload_package-rem_pkg_btn:active,
#upload_package-rem_pkg_btn:focus {
box-shadow: 0 0 0 0.25rem rgb(51, 153, 255, 50%);
}

.tab-pane {
  position: relative;
}

.jstree {
  overflow: auto;
  max-height: 62vh;
}

.jstree-disable {
  opacity: 50%;
  pointer-events: none;
}

.shiny-progress-notification .progress-bar {
  --bs-progress-bar-bg-lighter: color-mix(in srgb, var(--bs-progress-bar-bg), #eee 40%);
  background-color: unset;
  border-radius: 1em;
  background-image: linear-gradient(
    -45deg, 
    var(--bs-progress-bar-bg) 25%, 
    var(--bs-progress-bar-bg-lighter) 25%, 
    var(--bs-progress-bar-bg-lighter) 50%, 
    var(--bs-progress-bar-bg) 50%,
    var(--bs-progress-bar-bg) 75%,
    var(--bs-progress-bar-bg-lighter) 75%,
    var(--bs-progress-bar-bg-lighter)
  );
  background-size: 50px 50px;
  animation: animatedBackground 2s linear infinite;
}

@keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: 50px 50px; }
}

meter::-webkit-meter-optimum-value {background: #9CFF94;}
meter::-webkit-meter-suboptimum-value{background:#FFD070;}
meter::-webkit-meter-even-less-good-value{background:#FF765B;}

meter::-moz-meter-bar {background: #FF765B;}  /* color of bar*/
meter::-moz-meter-optimum-value {background: #9CFF94;} 
meter::-moz-meter-suboptimum-value{background:#FFD070;}  

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 1.5rem;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 1rem;
}

/* Pulled in from admin/styles-admin.css */

.shiny-notification-error {
  color: #fff !important;
  background-color: #d9534f !important;
  border: 1px solid #d9534f !important;
}

.shiny-notification-warning {
  color: #fff !important;
  background-color: #f39c12 !important;
  border: 1px solid #f39c12 !important;
}

.shiny-notification-message {
  color: #fff !important;
  background-color: #5cb85c !important;
  border: 1px solid #5cb85c !important;
}

.shiny-notification {
  font-size: 120% !important;
  font-weight: bold !important;
  /* Our additional styles */
  color:darkblue; 
  position: relative;
  width:415px; 
  height: 150px; 
  bottom: 8vh;
  right: 8vh;
  pointer-events: auto;
}

#shiny-notification-panel {
  width: 100% !important;
  text-align: center !important;
  top: 0;
  /* Our additional styles */
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  pointer-events: none;
}

.shiny-notification-close {
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

.btn-margin {
  margin-top: 27px;
}
