.shiny-input-container.metric_select {
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.shiny-input-container.metric_select .selectize-input {
  background: none;
  border: none;
  padding-right: 3rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.shiny-input-container.metric_select .selectize-dropdown {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}