.modal-body .btn.action-button:not(.btn-circle-sm) {
  font-family: 'Arial Black';
  font-size: medium;
}

.progress-bar {
  --bs-progress-bar-bg-lighter: color-mix(in srgb, var(--bs-progress-bar-bg), #eee 40%);
  background-color: unset;
  border-radius: 1em;
  background-image: linear-gradient(
    -45deg, 
    var(--bs-progress-bar-bg) 25%, 
    var(--bs-progress-bar-bg-lighter) 25%, 
    var(--bs-progress-bar-bg-lighter) 50%, 
    var(--bs-progress-bar-bg) 50%,
    var(--bs-progress-bar-bg) 75%,
    var(--bs-progress-bar-bg-lighter) 75%,
    var(--bs-progress-bar-bg-lighter)
  );
  background-size: 50px 50px;
  animation: animatedBackground 2s linear infinite;
}



@keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: 50px 50px; }
}
