html {
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  background: #F0F0F0;
  font-size: 8px;
  overflow: auto;
}

.sample_dataset_link{
  font-size: 15px;
}

.main-header{
  background: #3c8dbc;
  display: flex;
}

.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

.skin-blue .main-header .logo {
  background-color: rgba(245,245,245, 0.9);
  color: #fff;
  border-bottom: 0 solid transparent;
  width: 25%;
  height: 85px;
  font-size: 0px;
}

.main-header .logo {
  -webkit-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  display: block;
  float: left;
  height: 65px;
  font-size: 20px;
  line-height: 85px;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
}

element.style {
  height: 60px;
}

.navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 75px;
}

.content-wrapper {
  background: rgb(250, 250, 250);
}

.container {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#first_screen .box {
 padding: 1.5rem!important;
 height: 400px;
 margin: 0px;
 background-color: #fff;
 background-clip: border-box;
 border: 2px solid rgba(0,0,0,.125);
 border-radius: .25rem;
 width: 465px;
}

#first_screen {
  background: rgb(250, 250, 250);
}

.txt-color {
  color: rgb(77, 141, 201) !important;
}
.txt-danger {
  color: #CA0B00 !important;
}
.submit_decision_class{
margin-top: 4px;
margin-left: 14px;
}
.submit_overall_comment_class{
  float: right;
  border-radius: 5px;
  margin-bottom: 15px;
}
.btn-secondary {
  background: rgb(77, 141, 201) !important;
  color: #fff;
}
.btn-secondary:hover {
  background: rgb(77, 141, 201) !important;
  opacity: 0.7;
  color: #fff;
}
.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(77, 141, 201, 0.6) !important;
  color: #fff;
}
.btn-secondary:active {
  color: #fff !important;
  background-color: rgb(77, 141, 201) !important;
  border-color: rgb(77, 141, 201) !important;
  outline: none;
  box-shadow: inset 1px 1px 2px rgb(77, 141, 201), inset -1px -1px 2px #FFF;
  color: #fff;
}

.card {
  border: none !important;
  background: none;
  background-color: none !important;
  display: content;
}

h4 {
  color: #2c3e50;
}

.card-text {
  color: #2c3e50;
  opacity: 0.6;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 20px;
}

textarea, input[type="text"]
{
  width: 100%;
  border: 1px solid rgb(77, 141, 201);
  outline: none;
  font-size: 1.8rem!important;
  background: transparent;
  color: rgb(80,80,80)!important;
  border-radius: .25rem;
}

input[type="text"].form-control {
padding: 2rem!important;
}

.form-control{
border-color: rgb(77, 141, 201);
border-radius: 5px;
font-size: 17px;
}

input[type="text"]:focus {
  border-color: rgba(77, 141, 201);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(77, 141, 201, 0.6);
}

.main-container {
  overflow: hidden;
  display: flex;
}
.main-component {
  width: 74%;
  margin-left: 1%;
}
.sidebar {
  min-height: 645px;
  background: #fff;
  color: #2c3e50 !important;
  margin-left: 1%;
  border: 2px solid rgba(0,0,0,.125);
  display: block;
}

.sidebar-header {
  color: rgb(77, 141, 201);
  font-weight: bold;
  font-size: 2.25rem;
  margin-top: 0px;
}

hr {
  border: 1px solid rgb(77, 141, 201);
  opacity: 0.7;
  margin-bottom: 0px !important;
  margin-top: -3px !important;
}

.bg-color {
  background: rgb(77, 141, 201) !important;
}

.sidebar-container {
  height: auto;
  display: inline !important;
}
label {
  display: inline-flex;
  font-weight: 300;
  color: #2c3e50;
  opacity: 2;
  font-size: 1.3rem;
  margin-top: -10px;
  margin-bottom: 0px;
}
.well {
  background-color: #fff;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px;
}
.parentDiv {
  display:  flex;
}
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: rgb(77, 141, 201);
  background-color: rgb(77, 141, 201);
}
input:checked {
  color: #fff;
  border-color: rgb(116, 185, 255);
  background-color: rgb(116, 185, 255);
}
textarea:focus {
  border-color: rgb(77, 141, 201) !important;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(77, 141, 201, 0.6) !important;
}
.selectize-input.items, .selectize-dropdown-content {
  font-size: 1.3rem !important;
  border-color: rgb(77, 141, 201);
}

.tab-content {
  overflow-y: auto;
  min-height: 50vh;
  max-height: 635px; /* Height of the body part of the dashboard (i.e. the tabs). */
  padding: 0px 38px;
  border: 2px solid rgba(0,0,0,.125);
  background: #fff;
  animation: fadeEffect 2s;
  margin-top: 20px;
}

.nav-tabs>li>a {
  background: none;
  border: none !important;
  padding: 20px;
  color: rgb(77, 141, 201);
}
.nav-tabs>li.active>a {
  box-shadow: inset 0px -3px 0px 0px rgba(77, 141, 201, 0.8);
  background: #F0F0F0 !important;
  color: rgb(77, 141, 201);
}
.nav>li>a:focus {
  color: rgb(77, 141, 201) !important;
}
.nav>li>a:hover {
  color: rgb(77, 141, 201) !important;
}
.nav-tabs>li {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 0;
  box-shadow: none;
}
.nav-tabs {
  border: 1px solid #ccc;
}

.header-txt {
  padding: 0;
  font-size: 2.7rem;
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  margin-top: 13px;
  margin-left: 14% !important;
  line-height: 60px;
  text-align: center;
  color: rgb(77, 141, 201);
  overflow: hidden;
}

.skin-blue .main-header .logo:hover {
  background-color: rgba(245,245,245, 0.9);
}

.skin-blue .main-header .navbar {
    background-color: rgba(245,245,245, 0.9);
}

.input-group-btn {
  width: 35%;
}

body::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  border-radius: 8px;
  background: #E0E5EC;
}
::-webkit-scrollbar-track {
  background: #E0E5EC;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(77, 141, 201, 0.4);
}

#upload_summary_text {
  text-align: left;
}

#upload_summary_text > h4 {
line-height: 2.2rem;
}

#uploaded_file_progress {
  margin-top: 15px;
  height: 21px !important;
}

.fs-8 {
font-size: 1.8rem;
}

.asmnt-cri {
  margin-right: -320px;
  font-size: 1.2rem;
  color: #fff;
}

.info-box-icon {
  height: 96px;
}

.rounded {
border-radius: .25rem;
}
.p-3 {
padding: 1rem;
}
.btn-color {
color: #fff;
}
h4 {
color: #2c3e50;
}

.font-weight-bold {
font-weight: bold;
}

.card-title {
  margin: 15px;
  margin-top: -10px;
}

.m-0 {
  margin: 0px !important;
}

.mt-2 {
  margin-top: .5rem!important;
}
.mt-4 {
margin-top: 1.5rem!important;
}
.mb-4 {
margin-bottom: 1.5rem!important;
}
.ml-4 {
margin-left: 1.5rem!important;
}
.mr-4 {
margin-right: 1.5rem!important;
}
.ml-3 {
margin-left: 1rem!important;
}
.mt-5 {
margin-top: 3rem!important;
}
.mb-5 {
margin-bottom: 3rem!important;
}
.ml-5 {
margin-left: 3rem!important;
}
.mr-5 {
margin-right: 3rem!important;
}
.mt-7 {
margin-top: 7px!important;
}
.p-3 {
  padding: 1rem!important;
}
.p-4 {
padding: 1.5rem!important;
}
.m-4 {
margin: 1.5rem!important;
}
.w-24 {
  width: 24%;
}
.w-25 {
  width: 25%!important;
}
.W-40 {
  width: 40%!important;
}
.w-100 {
  width: 100% !important;
}
.cursor-help {
  cursor: help;
}
.cursor-pointer {
  cursor: pointer;
}
.navbar-custom-menu>.navbar-nav>li {
  position: absolute;
  right: 0px;
}

.shiny-input-radiogroup.shiny-input-container-inline label ~ .shiny-options-group {
  margin-top: 10px;
  font-size: 1.7rem;
}

.shiny-options-group > .radio-inline {
  margin-top: 0px;
}

.shiny-options-group > .radio-inline ~ .radio-inline {
  margin-top: 0px;
}

.radio-inline {
  margin-left: 10px !important;
  font-size: 1.5rem;
}

.radio-inline+.radio-inline {
  margin-top: -1px;
  margin-left: 10px;
}

#decision {
  display: inline-flex !important;
  margin-bottom: 0px;
}

#overall_comment {
  border-radius: 0.5rem;
}
#mm_comment {
  border-radius: 0.5rem;
}
#cum_comment {
  border-radius: 0.5rem;
}
#tm_comment {
  border-radius: 0.5rem;
}

.input-group {
  background: rgb(77, 141, 201);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.input-group>input[type="text"] {
  background: rgb(77, 141, 201);
  color: #fff !important;
}
.info-box-icon {
  height: 87%;
  position: absolute;
}
.info-box-icon > .glyphicon {
  display: flex;
  justify-content: center;
  left: 50%;
  top: 50% !important;
  transform: translate(-50%, -50%);
}


.info-box-content>p {
font-size: 11px;
}

@media (min-width: 768px)
.main-header > .navbar {
  margin-left: unset;
}

.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 19px;
}


.chooseCSVtext{
float: left;
width: 100%;
text-align: initial;
margin-bottom: 10px;
margin-top: 20px;
}

.col-sm-3 {
  width: 20%;
}
.col-sm-9 {
  width: 80%;
}

.list-group.vertical-tab-panel >a>h4 {
top: 39%;
position: inherit;
}

.list-group-item:active{
color: #fff;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
  zoom: 1;
  font-size: 1.5rem;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-right: 15px;
}

.upload_format_class{
margin-top: 0px;
margin-left: -15px;
}

.row {
  margin-right: -17px;
  margin-left: -15px;
}
#assessment_criteria_close_mm{
  float: right;
  color: red;
}

#assessment_criteria_close_cum{
  float: right;
  color: red;
}

#assessment_criteria_close_tm{
  float: right;
  color: red;
}
#assessment_criteria-assessment_criteria_close_mm{
  float: right;
  color: red;
}
#assessment_criteria-assessment_criteria_close_cum{
  float: right;
  color: red;
}
#assessment_criteria-assessment_criteria_close_tm{
  float: right;
  color: red;
}

#-tabbable > div.vrtc-tab-panel-menu div.list-group>a{
  height: 211px !important;
}

.modal-footer {
  border-top-color: rgb(77,141,201);
}

.modal-header {
  border-bottom-color: rgb(77,141,201);
}

.modal-title>h1{
color: rgb(77,141,201);
}

.mb-0{
margin-bottom: 0px !important;
}

.mt-0{
margin-top: 0px !important;
}

.ml-0{
margin-left: 0px !important;
}
.mr-0{
margin-right: 0px !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.btn-success{
color: #fff;
}
.btn-unsuccess{
  background: rgb(178,34,34) !important;
  color: #fff;
}
.btn-unsuccess:hover {
  background: rgb(178,34,34) !important;
  color: #fff;
}

.list-group-item .text-center .active > .txt-color{
color: #fff !important;
}
.input-group .form-control:last-child::-webkit-input-placeholder {
color: #fff;
}
.input-group .form-control:last-child:-moz-placeholder {
color: #fff;
}
.input-group .form-control:last-child::-moz-placeholder {
color: #fff;
}

.overflow-wrap-break-word {
overflow-wrap: break-word;
}

#-tabbable > div.vrtc-tab-panel-menu.vrtc-tab-panel-menu-left div.list-group>a.active:after {
  border-left: 10px solid rgb(77,141,201) !important;
}

#-tabbable > div.vrtc-tab-panel-menu div.list-group>a.active {
background-color: rgb(77,141,201)!important;
}

.shiny-notification-close {
  color: #CA0B00 !important;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.shiny-notification-close:hover {
color: #CA0B00 !important;
}
#shiny-notification-panel {
width: 350px !important;
margin-right: 20px;
margin-bottom: 5px;
}

.progress {
height: 15px !important;
border-radius: 5px;
}

.shiny-notification-content {
margin-top: 22px;
}

#shiny-notification-panel > div {
height: 120px !important;
}

.progress-message {
  font-size: 17px !important;
  font-weight: normal !important;
}

.progress-detail {
font-size: 20px !important;
font-weight: bold !important;
}

.progress.shiny-file-input-progress {
display: none;
}

#shiny-notification-show_notification_id{
  font-size: 25px;
  margin: 0 !important;
  padding: 30px 0 0 60px !important;
  font-weight: bold;
}

sub {
font-size: 60%;
}

.decision_div {
  border: 1px solid gray;
  padding: 12px;
  border-radius: 4px;
}

.submit_decision_class {
  float: right;
  border-radius: 5px;
}

.logo {
  background: #F0F0F0;
}

.logo > a > img {
  width: 75% !important;
  height: 85px !important;
}

.comment-border-bottom {
border-bottom: 1px solid rgba(0,0,0,.125);
}

#assessment_criteria_id .modal-dialog { 
width: 85%;
}

#assessment_criteria_id .tab-content { 
height: 633px; 
max-height: 633px; 
padding-right: 50px; 
overflow: auto; 
margin-top: 0px
}

input[type='radio'] {
display: none;
}

input[type='radio']:checked~span::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 7px;
  width: 8px;
  background-color: rgb(77,141,201);
  height: 7px;
  border-radius: 50%;
  outline: rgb(77,141,201);
}

input[type='radio']~span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 13px;
  background-color: #fff;
  height: 13px;
  border-radius: 50%;
  border: 1px solid rgb(77,141,201);
}

#upload_summary_select .selectize-control {
  text-align: left;
  width: 50%;
}


table.dataTable .thead .th, .table.dataTable .thead .td {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}

input[type="search"] {
  border: 1px solid rgb(77,141,201);
  padding: 4px;
}

.submit_mm_comment_class, .submit_cum_comment_class, .submit_tm_comment_class {
float: right;
}

.skin-blue .main-header .navbar .nav>li>a:hover{
  background: unset;
}

.skin-blue .main-header .navbar .nav>li>a {
  color: rgb(77, 141, 201);
  font: caption;
  font-weight: bold;
  border: 1px solid rgba(77, 141, 201, 0.5);
  margin-top: 27px;
  margin-right: 12px;
  background: whitesmoke;
}

.main-header .navbar {
  margin-left: unset;
}

.control-label[for="maintenance_metrics-mm_comment"], [for="community_usage_metrics-cum_comment"], [for="testing_metrics-tm_comment"] {
  float: left;
}

.amcharts-chart-div > a {
  display: none !important;
}

.sampledataset_class {
  margin-top: 60px;
}

.lh-4 {
  line-height: 2.3rem;
}

.skin-blue .main-header .navbar {
  display: flex;
  width: 75%;
}

.fa-user-tie {
  color: rgba(77,141,201,.70);
  top: 35%;
  left: 0px;
}

.user-name-color {
color: #7f7f7f;
}

.user-icon-style {
  height: 50px;
  width: 50px;
  background-color: #18dcff;
  border-radius: 50%;
  display: flex;
  position: absolute;
  font-size: 3.5rem;
  justify-content: center;
  margin-left: -30px;
  margin-top: 25px;
  color: #fff;
}

.download_report_class{
  float: right;
}

.download_report_btn_class{
  margin-top: 14px;
}
.d-none {
  display: none !important;
}
.dropdown {
  display: flex !important; 
}
.asmnt-help-icon {
  display: none;
  color: rgb(77, 141, 201);
}

th.sorting {
  text-align: center;
}

.sidebar-menu {
  display: none; 
}


a#assessment_criteria_bttn {
    border: none;
    background-color: transparent;
    
}

a#assessment_criteria_bttn:hover {
    border: none;
    background-color: transparent;
}

i.fas.fa-info-circle.fa-2x.asmnt-help-icon:hover {
    color: #87B1DA;
    border-radius: 5px;
}

a#db_dash_bttn {
    border: none;
    background-color: transparent;
    
}

a#db_dash_bttn:hover {
    border: none;
    background-color: transparent;
}

i.fas.fa-info-database.fa-2x.database-help-icon:hover {
    color: #87B1DA;
    border-radius: 5px;
}

.fas.fa-database.fa-2x.database-icon {
    font-size: 30px;
}

.tooltip-help .tooltiptext-help {
  visibility: hidden;
  width: 130px;
  background-color: rgba(135, 177, 218, 0.6);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 7px 0;
  border: solid 1px rgba(135, 177, 218, 0.4);
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip-help:hover .tooltiptext-help {
  visibility: visible;
  font-size: 15px;
  font-weight: bold;
}

.fa-database-tooltiptext-help {
    top: 5px !important;
    right: 115% !important;
}

@media screen and (max-width: 600px) {
  span.header-txt {
    font-size: 1.4rem;
    line-height: unset;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(77, 141, 201);
    margin-top: 15px;
    margin-left: 0px;
  }
}

@media screen and (min-width: 601px) {
  span.header-txt {
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 600px) {
  #first_screen .box {
    height: 60vh !important;
    width: 50vh;
    margin-left: 0rem !important;
  }
  h1.card-title {
    font-size: 2rem;
  }
  h3{
    font-size: 1.8rem;
  }
  .skin-blue .main-header .logo {
    display: none;
  }
  .navbar-static-top {
    display: flex;
    width: 100% !important;
    justify-content: center;
    text-align: center;
  }
}


@media screen and (max-width: 910px) {
  .logo_1 {
    display: none;
  }
  
  .logo_2 {
    display: inherit;
  }
  
  #first_screen .box {
    height: auto !important;
    width: 50vh;
    margin-left: -8rem!important;
  }
  h1.card-title {
    font-size: 3rem!important;
  }
  h3{
    font-size: 2rem!important;
  }
  .card-text {
    font-size: 1.8rem!important;
  }
  .name-div {
    margin-top: 0rem!important;
  }
  .role-div {
    margin-top: 0rem!important;
  }
  .proceed-div {
    margin-top: 0rem!important;
  }
}

@media screen and (max-width: 768px) {
  #first_screen .box {
    height: 520px!important;
    width: 350px!important;
    margin-left: -4rem!important;
  }
  .card-text {
    font-size: 2rem!important;
  }
  .name-div {
    margin-top: 2.5rem !important;
  }
  .role-div {
    margin-top: 2.5rem !important;
  }
  .proceed-div {
    margin-top: 2.5rem !important;
  }
  h1.card-title {
    font-size: 3rem !important;
  }
  h3{
    font-size: 2rem!important;
  }
  .btn-secondary {
    height: 50px;
    font-size: 1.5rem !important;
  }
  .card-text {
    font-size: 1.5rem!important;
  }
}

@media screen and (min-width: 320px) and (max-width: 360px) {
  #first_screen .box {
    height: 450px !important;
    margin-left: 0rem;
  }
  .card-text {
    font-size: 2rem !important;
  }
  .name-div {
    margin-top: 0rem !important;
  }
  .role-div {
    margin-top: 0rem !important;
  }
  .proceed-div {
    margin-top: 0rem !important;
  }
  h1.card-title {
    font-size: 2rem !important;
  }
  h3{
    font-size: 1.5rem !important;
  }
  .btn-secondary {
    height: 40px;
    font-size: 1rem !important;
  }
  .card-text {
    font-size: 1.2rem !important;
  }
}

@media screen and (min-width: 360px) and (max-width: 441px) {

  .card-text {
    font-size: 2rem !important;
  }
  .name-div {
    margin-top: 0rem !important;
  }
  .role-div {
    margin-top: 0rem !important;
  }
  .proceed-div {
    margin-top: 0rem !important;
  }
  h1.card-title {
    font-size: 2rem !important;
  }
  h3{
    font-size: 1.5rem !important;
  }
  .btn-secondary {
    height: 40px;
    font-size: 1.5rem !important;
  }
  .card-text {
    font-size: 1.2rem !important;
  }
  .nav-tabs {
    width: 100%;
    display: grid;
  }
  .tab-content {
    padding: 5px;
  }
  
  .mm-row-1, .mm-row-2, .mm-row-3, .mm-row-comments-box, .mm-row-comments {
    margin: 0px;
    width: 88%;
  }
  .main-component-child {
    padding: 0px;
  }
  .single-comment-div {
    width: 100% !important;
  }
  
  .shiny-html-output.col-sm-4.shiny-bound-output {
    width: 100%;
  }
  .sidebar-menu {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .sidebar {
    display: block;
    width: 97% !important;
    margin-top: 50px;
  }
  .main-component {
    width: 90% !important;
    margin-top: 30px;
    margin-left: -10px;
  }
  .tabbable {
    display: none;
  }
  .c_u_m_row_main, .c_u_m_row_1, .c_u_m_row_graph, .c_u_m_row_comments_box, .c_u_m_row_comments {
    margin: 0px;
  }
  .t_m_main_row, .t_m_graph_row, .t_m_comments_box_row, .t_m_comments_row {
    margin: 0px;
  }
  .r_p_main_row, .r_p_format_row, .r_p_content_row {
    margin: 0px;
  }
  .mm-main-row {
    margin: 0px;
  }
  .u_p_main_row, .u_p_heading_row, .u_p_btn_row, .u_p_dropdown_row {
    margin: 0px;
  }
}

@media screen and (min-width: 911px) and (max-width: 1023px) {
  #first_screen .box {
    height: auto !important;
    width: 60vh !important;
    margin-left: -8rem !important;
  }
  .card-text {
    font-size: 1.5rem !important;
  }
  .name-div {
    margin-top: 2.5rem !important;
  }
  .role-div {
    margin-top: 2.5rem !important;
  }
  .proceed-div {
    margin-top: 2.5rem !important;
  }
  h1.card-title {
    font-size: 3rem !important;
  }
  h3{
    font-size: 2rem !important;
  }
  .btn-secondary {
    height: 50px;
    font-size: 1.5rem !important;
  }
  .card-text {
    font-size: 1.5rem !important;
  }
}

@media screen and (max-width: 1024px) {
  #first_screen .box {
    height: 45vh;
    width: 50vh;
    margin-left: -20rem;
  }
  .card-text {
    font-size: 2.5rem;
  }
  .name-div {
    margin-top: 2.5rem !important;;
  }
  .role-div {
    margin-top: 2.5rem;
  }
  .proceed-div {
    margin-top: 2.5rem;
  }
  h1.card-title {
    font-size: 4.5rem;
  }
  h3{
    font-size: 3rem;
  }
  .btn-secondary {
    height: 50px;
    font-size: 2rem;
  }
  
  .asmnt-help-icon {
    margin-top: 64px;
  }
  
  
  .sidebar {
    width: 38%;
  }
  .main-component {
    width: 60%;
  }
  
  .assessment_criteria_bttn_class {
    padding: 4px !important;
    margin-top: 60px !important;
    margin-right: 5px !important;
  }
  
  .label-float-left {
    width: 100% !important;
  }
  #community_usage_metrics-Time_since_first_release {
    width: 100% !important;
  }
  #community_usage_metrics-Time_since_version_release {
    width: 100% !important;
  }
  .shiny-html-output.col-sm-4.shiny-bound-output {
    width: 100%;
  }
}

#upload_format_download{
  margin-top: 15px;
}

#assessment_criteria_close{
  float: right;
  color: red;
  margin-top: 10px;
  margin-right: 10px;
}

.label-float-left .control-label {
  float: left;
} 

#maintenance_desc {
  margin-bottom: 50px;
}

#community_usage_desc {
  margin-bottom: 50px;
}

#testing_desc {
  margin-bottom: 50px;
}

.no_of_downloads_na_class{
  margin-top: 175px;
  margin-bottom: 175px;
}

.na-bg-color {
  background-color: #808080 !important;
}

#db_pkgs:hover {
  cursor: pointer;
}